body{
    overflow-x: hidden;
    margin:0;
}

::selection {
    background: #ffea00;
}

#login{
    margin-left: -1%;
    background-size:cover;
}
#login > div > hr{
    margin-left: -5%;
}
#login > div > form hr{
    border : 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}
#miniTaxiInicial{
    height: 44px;
    width: 80px;
}
#ContainerFormInicial{
    padding-top: 15%;
    height: 100%;
    width: 100%;
    background-image: url("/img/bgIndex.png");
    background-size:cover;
}
