.top-more-1{
    margin-top: 1%;
}
.top-more-2{
    margin-top: 2%;
}
.top-more-3{
    margin-top: 3%;
}
.top-more-4{
    margin-top:4%;
}
.top-more-5{
    margin-top: 5%;
}
.top-more-10{
    margin-top: 8%;
}

.top-less-1{
    margin-top: -1%;
}
.top-less-2{
    margin-top: -2%;
}
.top-less-3{
    margin-top: -3%;
}
.top-less-4{
    margin-top: -4%;
}
.top-less-5{
    margin-top: -5%;
}

.left-more-1{
    margin-left:1%;
}
.left-more-2{
    margin-left:2%;
}
.left-more-3{
    margin-left:3%;
}
.left-more-4{
    margin-left:4%;
}
.left-more-5{
    margin-left:5%;
}

.left-less-1{
    margin-left: -1%;
}
.left-less-2{
    margin-left: -2%;
}
.left-less-3{
    margin-left: -3%;
}
.left-less-4{
    margin-left: -4%;
}
.left-less-5{
    margin-left: -5%;
}

body{
    overflow-x:hidden;
    padding-bottom: 6%;
}

hr.especial{
    border : 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.menuItems{
    color:grey;
}

.toHide{
    display: none;
}
.active{
    color:#e0e0e0;
}
